@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
@using istemci.DDService;

<div class="row">
    <p style="padding-top:1rem; margin-bottom: -1rem;">
        <a href="/App" class="btn btn-floating btn-large waves-effect waves-light deep-orange darken-1"><i class="material-icons">keyboard_backspace</i></a>
    </p>
</div>

<div class="row">
    <div class="col s12">
        <h4 class="header blue-grey-text text-darken-1">
            @ViewBag.Soru.Baslik
        </h4>
        <hr class="blue-grey-text text-lighten-1" />
        <div class="card-panel blue-grey darken-2">
            <div class="right-align">
                <span class="white-text">@ViewBag.Soru.SorulmaTarihi</span>
            </div>
            <hr class="blue-grey-text text-lighten-1" /><br />
            <span class="white-text flow-text" style="padding-left:1rem;">
                @ViewBag.Soru.Metin
            </span><br />
            <hr class="blue-grey-text text-lighten-1" style="margin-top:2rem;" />
            <div class="white-text valign-wrapper right-align">
                <img src="@ViewBag.Sorucu.AvatarLink" alt="" class="circle" width="50" />
                <span class="valign right-align" style="padding-left:1rem;"> @ViewBag.Sorucu.Isim @ViewBag.Sorucu.Soyisim</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5 class="blue-grey-text text-darken-1 right-align">
            Cevap Yazın
        </h5>
        <hr class="blue-grey-text text-lighten-1" />
        <div class="card-panel blue-grey darken-2">
            <div class="row">
                <div class="left-align" style="padding-left:1rem; padding-top:1.5rem;">
                    <div class="white-text valign-wrapper">
                        <img src="@ViewBag.Kullanici.AvatarLink" alt="" class="circle" width="50" />
                        <span class="valign" style="padding-left:1rem;"> @ViewBag.Kullanici.Isim @ViewBag.Kullanici.Soyisim <small style="padding-left:0.25rem;">olarak cevap yazıyorsunuz;</small></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="input-field col s12">
                        <textarea id="cevap" name="Cevap" class="materialize-textarea white-text"></textarea>
                        <label for="cevap">Cevabınız</label>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="right-align" style="padding-right:2rem;">
                    <a href="#" class="btn btn-floating btn-large waves-effect waves-light deep-orange darken-1" onclick="temizle()"><i class="material-icons">clear</i></a>
                    <a href="#" class="btn btn-floating btn-large waves-effect waves-light deep-green darken-1" onclick="cevapla()"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5 class="blue-grey-text text-darken-1 left-align">
            Cevaplar
        </h5>
        <hr class="blue-grey-text text-lighten-1" />
        <div class="card-panel blue-grey darken-2">
            <ul class="collapsible" data-collapsible="accordion">
                @foreach (var cevap in ((ICollection<VMCevap>)ViewBag.Cevaplar).Reverse())
                {
                    DDServiceClient s = new DDServiceClient();
                    ViewBag.Cevaplayan = s.KullaniciBilgileriniGetir(Convert.ToInt32(cevap.Yazan_Kimlik));
                    <li>
                        <div class="collapsible-header" style="padding-top:10px;">
                            <div class="row left-align">
                                <img src="@ViewBag.Cevaplayan.AvatarLink" alt="" class="circle" width="50" style="padding-left:1rem;" />
                                <span class="valign" style="padding-left:0.25rem;"> @ViewBag.Cevaplayan.Isim @ViewBag.Cevaplayan.Soyisim <small style="padding-left:0.25rem;">yazdı;</small></span>
                            </div>
                            <div class="row" style="padding-left:1rem;padding-right:1rem;padding-top:-2rem;">
                                <p class="flow-text" style="text-align:justify;">
                                    @cevap.Metin
                                </p>
                            </div>
                        </div>
                        <div class="collapsible-body white" style="padding-left:2rem;">
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="@ViewBag.Sorucu.AvatarLink" alt="" class="circle">
                                    <span class="title">@ViewBag.Sorucu.Isim @ViewBag.Sorucu.Soyisim</span>
                                    <p>
                                        Yorum içeriği.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>

<script type="text/javascript">
    function temizle() {
        $(':input').removeAttr('checked').removeAttr('selected').not(':button, :submit, :reset, :hidden, :radio, :checkbox').val('').blur();
    }

    function cevapla() {
        var kontrol = true;
        $('input, textarea').each(function () {
            if ($.trim($(this).val()) == "") {
                Materialize.toast(this.name + ' alanı boş bırakılamaz!', 3000, 'red rounded');
                kontrol = false;
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });

        if (kontrol == true) {
            var veri = {
                soruKimligi: @ViewBag.Soru.Kimlik,
                cevap: $("#cevap").val()
            };

            $.post("/App/CevapVer", veri, function (cevap) {
                if (cevap == 'Cevap ekleme başarılı.') {
                    Materialize.toast('Cevap başarıyla eklendi!', 3000, 'green rounded');
                    window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
                }
                else
                    Materialize.toast('Cevap ekleme başarısız!', 3000, 'red rounded');
            });
        }
    }
</script>
