@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.Title = ViewBag.Soru.Baslik + " - " + ViewBag.Sorucu.Isim + " " + ViewBag.Sorucu.Soyisim;
}
@using istemci.DDService;

<div class="row">

</div>

<div class="row">
    <div class="col s12">
        <nav class="deep-purple darken-1" style="width:100%;">
            <div class="col s12">
                <div class="nav-wrapper">
                    <a href="/App" class="breadcrumb">Sorular</a>
                    <a href="/App/ @ViewBag.Soru.Kimlik" class="breadcrumb">@ViewBag.Soru.Baslik</a>
                    <small>
                        @if (ViewBag.FS)
                        {
                        <a class="secondary-content"><span class="teal badge white-text">Favori Sorunuz</span></a>
                        }
                    </small>
                </div>
            </div>
        </nav>
        <hr class="blue-grey-text text-lighten-1" />
        <div class="card-panel blue-grey darken-2">
            <div class="right-align">
                <span class="white-text">@ViewBag.Soru.SorulmaTarihi</span>
            </div>
            <span class="white-text flow-text" style="padding-left:1rem;">
                <blockquote> @ViewBag.Soru.Metin </blockquote>
            </span>
            <div class="white-text valign-wrapper" style="padding-top:2rem;">
                <img src="@ViewBag.Sorucu.AvatarLink" alt="" class="circle" width="50" />
                <span class="valign" style="padding-left:1rem;"> @ViewBag.Sorucu.Isim @ViewBag.Sorucu.Soyisim</span>
            </div>
        </div>
    </div>
</div>

<span>
    @if (ViewBag.FS)
    {
    <a class="waves-effect waves-red btn red darken-4" onclick="soruyuFavorilerdenCikar()">FAVORİLERDEN ÇIKAR</a>
    }
    else
    {
    <a class="waves-effect waves-green btn light-green darken-4" onclick="soruyuFavorilereEkle()">FAVORİLERE EKLE</a>
    }
</span>

<div class="row">
    <div class="col s12">
        <h5 class="blue-grey-text text-darken-1 right-align">
            Cevap Yazın
        </h5>
        <hr class="blue-grey-text text-lighten-1" />
        <div class="card-panel blue-grey darken-2">
            <div class="row">
                <div class="left-align" style="padding-left:1rem; padding-top:1.5rem;">
                    <div class="white-text valign-wrapper">
                        <img src="@ViewBag.Kullanici.AvatarLink" alt="" class="circle" width="50" />
                        <span class="valign" style="padding-left:1rem;"> @ViewBag.Kullanici.Isim @ViewBag.Kullanici.Soyisim <small style="padding-left:0.25rem;">olarak cevap yazıyorsunuz;</small></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="input-field col s12">
                        <textarea id="cevap" name="Cevap" class="materialize-textarea white-text"></textarea>
                        <label for="cevap">Cevabınız</label>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="right-align" style="padding-right:2rem;">
                    <a class="btn btn-floating btn-large waves-effect waves-light deep-orange darken-1" onclick="temizle()"><i class="material-icons">clear</i></a>
                    <a class="btn btn-floating btn-large waves-effect waves-light green darken-1" onclick="cevapla()"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5 class="blue-grey-text text-darken-1 left-align">
            Cevaplar
        </h5>
        <hr class="blue-grey-text text-lighten-1" />
        <div class="card-panel blue-grey darken-2">
            <ul class="collapsible" data-collapsible="accordion">
                @foreach (var cevap in ((ICollection<VMCevap>)ViewBag.Cevaplar).Reverse())
                {
                    DDServiceClient s = new DDServiceClient();
                    ViewBag.Cevaplayan = s.KullaniciBilgileriniGetir(Convert.ToInt32(cevap.Yazan_Kimlik));
                    ViewBag.Yorumlar = s.CevabinYorumlariniGetir(cevap.Kimlik);
                    ViewBag.FC = s.CevapFavorilerdeMi(ViewBag.Kullanici.Kimlik, cevap.Kimlik);
                    @* <a href="/App/Soru/ + @ViewBag.Soru.Kimlik" class="btn btn-floating btn-large waves-effect waves-light green darken-1"><i class="material-icons">check</i></a> *@

                    <li>
                        <div class="collapsible-header" style="padding-top:10px;">
                            <div class="row left-align">
                                <img src="@ViewBag.Cevaplayan.AvatarLink" alt="" class="circle" width="50" style="padding-left:1rem;" />
                                <span class="valign" style="padding-left:0.25rem;">
                                    @ViewBag.Cevaplayan.Isim @ViewBag.Cevaplayan.Soyisim <small style="padding-left:0.25rem;">@cevap.CevaplamaTarihi tarihinde cevapladı;</small>
                                    <small>
                                        @if (ViewBag.FC)
                                        {
                                        <a class="secondary-content"><span class="teal badge white-text">Favori Cevabınız</span></a>
                                        }
                                    </small>
                                </span>
                            </div>
                            <div class="row" style="padding-left:1rem;padding-right:1rem;padding-top:-2rem;">
                                <p class="flow-text" style="text-align:justify;">
                                    @cevap.Metin
                                </p>
                            </div>
                        </div>
                        <div class="collapsible-body white" style="padding-left:2rem;padding-right:2rem;">
                            <div class="row right-align">
                                <br />
                                <a class="waves-effect waves-light btn green darken-1 modal-trigger" href="#yorumEkleModal" onclick="ckimligi(@cevap.Kimlik)">Yorum Ekle &#x21a1;</a>

                                <span>
                                    @if (ViewBag.FC)
                                    {
                                    <a class="waves-effect waves-red btn red darken-4" onclick="cevabiFavorilerdenCikar(@cevap.Kimlik)">FAVORİLERDEN ÇIKAR</a>
                                    }
                                    else
                                    {
                                    <a class="waves-effect waves-green btn light-green darken-4" onclick="cevabiFavorilereEkle(@cevap.Kimlik)">FAVORİLERE EKLE</a>
                                    }
                                </span>
                            </div>

                            <hr class="blue-grey-text text-lighten-1" />
                            <div class="row">
                                <ul class="collection">
                                    @foreach (var yorum in ((ICollection<VMYorum>)ViewBag.Yorumlar).Reverse())
                                    {
                                        ViewBag.Yorumlayan = s.KullaniciBilgileriniGetir(Convert.ToInt32(yorum.Yapan_Kimlik));
                                        <li class="collection-item avatar">
                                            <img src="@ViewBag.Yorumlayan.AvatarLink" alt="" class="circle">
                                            <span class="title">@ViewBag.Yorumlayan.Isim @ViewBag.Yorumlayan.Soyisim</span>
                                            <small style="padding-left:0.5rem;">(@yorum.YapilmaTarihi)</small>
                                            <p>
                                                @yorum.Metin
                                            </p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>

<div id="yorumEkleModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Yorum Ekle</h4>
        <form class="col s12">
            <div class="input-field col s12">
                <textarea id="yorum" name="Yorum" class="materialize-textarea"></textarea>
                <label for="yorum">Yorumunuz</label>
            </div>
            <div class="right-align" style="padding-right:2rem;">
                <a class="btn btn-floating btn-large waves-effect waves-light deep-orange darken-1" onclick="temizle()"><i class="material-icons">clear</i></a>
                <a class="btn btn-floating btn-large waves-effect waves-light green darken-1" onclick="yorumla()"><i class="material-icons">add</i></a>
            </div>
        </form>
        <br />
    </div>
</div>

<script type="text/javascript">
    function temizle() {
        $(':input').removeAttr('checked').removeAttr('selected').not(':button, :submit, :reset, :hidden, :radio, :checkbox').val('').blur();
    }

    function cevapla() {
        var kontrol = true;
        $('input#cevap, textarea#cevap').each(function () {
            if ($.trim($(this).val()) == "") {
                Materialize.toast(this.name + ' alanı boş bırakılamaz!', 3000, 'red rounded');
                kontrol = false;
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });

        if (kontrol == true) {
            var veri = {
                soruKimligi: @ViewBag.Soru.Kimlik,
                cevap: $("#cevap").val()
            };

            $.post("/App/CevapVer", veri, function (sonuc) {
                if (sonuc == 'Cevap ekleme başarılı.') {
                    Materialize.toast('Cevap başarıyla eklendi!', 3000, 'green rounded');
                    window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
                }
                else
                    Materialize.toast('Cevap ekleme başarısız!', 3000, 'red rounded');
            });
        }
    }

    var aktifCevabinKimligi;

    function ckimligi(k) {
        aktifCevabinKimligi = k;
    }

    function yorumla() {
        var kontrol = true;
        $('input#yorum, textarea#yorum').each(function () {
            if ($.trim($(this).val()) == "") {
                Materialize.toast(this.name + ' alanı boş bırakılamaz!', 3000, 'red rounded');
                kontrol = false;
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });

        if (kontrol == true) {
            console.log(aktifCevabinKimligi);
            var veri = {
                cevapKimligi: aktifCevabinKimligi,
                yorum: $("#yorum").val()
            };

            $.post("/App/Yorumla", veri, function (sonuc) {
                if (sonuc == 'Yorum ekleme başarılı.') {
                    Materialize.toast('Yorum başarıyla eklendi!', 3000, 'green rounded');
                    window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
                }
                else
                    Materialize.toast('Yorum ekleme başarısız!', 3000, 'red rounded');
            });
        }
    }

    function soruyuFavorilereEkle() {
        var veri = {
            soruKimligi: @ViewBag.Soru.Kimlik
            };

        $.post("/App/SoruyuFavorilereEkle", veri, function (sonuc) {
            if (sonuc == 'Soruyu ekleme başarılı.') {
                Materialize.toast('Soru başarıyla favorilerinize eklendi!', 3000, 'green rounded');
                window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
            }
            else
                Materialize.toast('Soruyu favorilere ekleme başarısız!', 3000, 'red rounded');
        });
    }

    function soruyuFavorilerdenCikar() {
        var veri = {
            soruKimligi: @ViewBag.Soru.Kimlik
            };

        $.post("/App/SoruyuFavorilerdenCikar", veri, function (sonuc) {
            if (sonuc == 'Soruyu cikarma başarılı.') {
                Materialize.toast('Soru başarıyla favorilerinizden çıkarıldı!', 3000, 'green rounded');
                window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
            }
            else
                Materialize.toast('Soruyu favorilerden çıkarma başarısız!', 3000, 'red rounded');
        });
    }

    function cevabiFavorilereEkle(ck) {
        var veri = {
            cevapKimligi: ck
        };

        $.post("/App/CevabiFavorilereEkle", veri, function (sonuc) {
            if (sonuc == 'Cevabi ekleme başarılı.') {
                Materialize.toast('Cevap başarıyla favorilerinize eklendi!', 3000, 'green rounded');
                window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
            }
            else
                Materialize.toast('Cevabi favorilere ekleme başarısız!', 3000, 'red rounded');
        });
    }

    function cevabiFavorilerdenCikar(ck) {
        var veri = {
            cevapKimligi: ck
        };

        $.post("/App/CevabiFavorilerdenCikar", veri, function (sonuc) {
            if (sonuc == 'Cevabi cikarma başarılı.') {
                Materialize.toast('Cevap başarıyla favorilerinizden çıkarıldı!', 3000, 'green rounded');
                window.location = "/App/Soru/" + @ViewBag.Soru.Kimlik;
            }
            else
                Materialize.toast('Cevabi favorilerden çıkarma başarısız!', 3000, 'red rounded');
        });
    }
</script>
