<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Docendo Discimus</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/icon/Content/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/icon/favicon-16x16.png">
    <link rel="manifest" href="/Content/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#EE6E73">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <style>
        header, main, footer {
            padding-left: 100px;
        }

        @@media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="top-nav deep-purple darken-1">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
                    <a class="page-title">@ViewBag.Title</a>
                </div>
            </div>
        </nav>
        <ul id="nav-mobile" class="side-nav fixed">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="https://images.unsplash.com/photo-1429051781835-9f2c0a9df6e4?dpr=1&auto=format&fit=crop&w=300&h=175&q=80&cs=tinysrgb&crop=">
                    </div>
                    <a href="#!user"><img class="circle" src="@ViewBag.Kullanici.AvatarLink"></a>
                    <a href="#!name"><span class="white-text name">@ViewBag.Kullanici.Isim @ViewBag.Kullanici.Soyisim</span></a>
                    <a href="#!email"><span class="white-text email">@ViewBag.Kullanici.Eposta</span></a>
                </div>
            </li>
            <li><a class="subheader">Site</a></li>
            <li>
                <a class="waves-effect" href="/App">
                    <i class="material-icons">home</i>Anasayfa
                </a>
            </li>
            <li>
                <a class="waves-effect" href="#!">
                    <i class="material-icons">question_answer</i>Soru Sor
                </a>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Kullanıcı</a></li>
            <li>
                <a class="waves-effect" href="/App/Profil">
                    <i class="material-icons">account_box</i>Profil
                </a>
            </li>
            <li>
                <a class="waves-effect" href="#!" onclick="cikis()">
                    <i class="material-icons">exit_to_app</i>Çıkış
                </a>
            </li>
        </ul>
    </header>

    <main>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="page-footer deep-purple darken-1">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <blockquote class="white-text">"Docendo Discimus"</blockquote>
                    <p class="grey-text text-lighten-4">Öğretirken öğreniriz anlamına gelen bir Latince deyiş.<br /><br />Genç Seneca (c. 4 BC – 65 AD) Lucilius'a yazdığı bir mektupta bu sözü kullanır (epistulae morales I, 7, 8).</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - Docendo Discimus - Developed by Nuri U.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(".button-collapse").sideNav();

        function cikis() {
            $.post("/Home/Cikis", "", function (sonuc) {
                if (sonuc == 'Çıkış yapıldı.')
                    window.location = "/";
            });
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
