<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Docendo Discimus</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/icon/Content/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/icon/favicon-16x16.png">
    <link rel="manifest" href="/Content/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <style>
        body {
            background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .75)),url(../../Content/vfun94cuy4o-david-marcu.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="deep-purple darken-1">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center"><img src="~/Content/logo.png" alt="Docendo Discimus" /></a>
            </div>
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="page-footer deep-purple darken-1">
        <div class="container">
            <div class="row">
                <div class="col l12 s12">
                    <blockquote class="white-text">"Docendo Discimus"</blockquote>
                    <p class="grey-text text-lighten-4">Öğretirken öğreniriz anlamına gelen bir Latince deyiş.<br /><br />Genç Seneca (c. 4 BC – 65 AD) Lucilius'a yazdığı bir mektupta bu sözü kullanır (epistulae morales I, 7, 8).</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - Docendo Discimus - Developed by Nuri U.
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
